/* ====================hows life================== */
:root {
    --Komerce-Dark: #AB2900;
    --Grayscale-Off-White: #FFF;
    --Grayscale-Main-Black: #333;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #FFF;

}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }


/* css underline untuk menu */
.navbar-item {
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.navbar-link {
    color: #000000;
    text-decoration: none;
    position: relative;
}

.navbar-link-active {
    color: #AB2900 !important;
}

.navbar-link-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #AB2900;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.content-wrapper {
        width: 100%;
        position: absolute;
        top: 182px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        color: white; 
}

.main-heading {
    color: var(--Grayscale-Off-White, #FFF);
text-align: center;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sub-heading {
    color: var(--Grayscale-Off-White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-button {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Komerce-Dark);
    background: linear-gradient(117deg, #F95031 4.61%, #CF2A08 66.71%);
    color: var(--Grayscale-Off-White);
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;
    text-decoration: none;
}

.styled-button:hover {
    background-color: rgb(255, 45, 45);
    border-color: darken(var(--Komerce-Dark), 10%);
}

.styled-button:focus {
    outline: 2px solid var(--Grayscale-Off-White);
    outline-offset: 2px;
}

.arrow-icon {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.arrow-icon2 {
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 16px;
}

.image-hero {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 40px 40px 0px 0px;
    background: center / cover no-repeat;
}

.background-heros {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filter-hero {
    filter: brightness(60%);
}

.flex-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px 120px;
    justify-content: center;
    align-items: center;
    background: var(--Komerce-Dark);
    overflow: hidden;
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    display: flex;
    gap: 64px;
    width: calc(200% + 64px);
    animation: marquee 20s linear infinite;
}

.number {
    color: var(--Grayscale-Off-White);
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
}

.text {
    color: var(--Grayscale-Off-White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}
/* ====================hows life================== */


/* Komerce Society */
.h1-komerce-society {
    color: var(--Gray-1, var(--Grayscale-Main-Black, #333));
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.margin2 {
    margin-top: 80px;
}

.content {
    display: flex;
    flex-direction: column;
}

.text-boxes {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 125px;
    margin-left: 40px;
}

.text-boxes-photos {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 125px;
    margin-left: 40px;
}

.paragraph-whoarewe {
    color: var(--Grayscale-Dark-Grey, #626262);
    font-weight: 200px;
    line-height: 20px;
    margin: 0 auto 16px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    }

.bg-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.bg-arrow{
    width: 50px;
    height: auto;
}

.text-box p {
    color: #666;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}


.menu-item {
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.menu-item.fade {
    opacity: 0.5;
    background-color: #d0d0d0;
}

ul .nav-item {
    cursor: pointer;
}

.background-containers {
    width: 90%;
    height: auto;
    background: center / cover no-repeat;
    /* margin-left: auto; */

}
/*Komerce Society*/

/* ======================================== KOMERCE SOCIETY CSS ====================================== */
.komerce-section {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.ks-font {
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(89deg, #333 26.88%, #FAFAFA 87.35%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.wwd-box {
  background-color: #F4F4F4;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  align-items: center;
  max-width: max-content;
}

.wwd-font {
    color: var(--Grayscale-Main-Black, #333);
text-align: center;
/* Headline 6/Semibold - 20 */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.wwd-paragraph{
    color: var(--Grayscale-Main-Black, #333);
text-align: justify;
/* Body 1/Regular - 16 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 20px;
}

.left-side {
  max-width: 50%;
}

.right-side {
  max-width: 50%;

  flex-direction: column;
  justify-content: space-between;
}

.product-count{
/* Headline 1/Semibold - 96 */
font-family: Poppins;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(117deg, #F95031 4.61%, #CF2A08 66.71%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.product-count-paragraph{
    color: var(--Grayscale-Label, #828282);
    /* Headline 5/Regular - 24 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 20px;
}

.img-komerce-team{
    width: 652px;
    flex: 1 0 0;
}
.arrow-up-right {
    width: 25px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6  {
    display: flex;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-radius: 52px;
    border: 3px solid var(--Grayscale-Line, #E2E2E2);
    position: absolute;
}

.circle1 {
        background: var(--Grayscale-BG, #F8F8F8);
        z-index: 0;
}
.circle2 {
        background: var(--Grayscale-BG, #F8F8F8);
        z-index: 1;
        left: 60px;
}
.circle3 {
        background: var(--Grayscale-BG, #F8F8F8);
        z-index: 2;
        left: 120px;
}
.circle4 {
        background: var(--Grayscale-BG, #F8F8F8);
        z-index: 3;
        left: 180px;
}
.circle5 {
        background: var(--Grayscale-BG, #F8F8F8);
        z-index: 4;
        left: 240px;
}
.circle6 {
        background: linear-gradient(117deg, #F95031 4.61%, #CF2A08 66.71%);
        z-index: 5;
        left: 300px;
}
.img-circle {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 11px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.circle-container{
    display: flex;
    position: relative;
}


/* ======================================== KOMERCE SOCIETY CSS ====================================== */

/* 
.content {
    display: flex;
    flex-direction: column;
}



.text-boxes-photos {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 125px;
    margin-left: 40px;
}


.bg-arrow{
    width: 50px;
    height: auto;
}

.text-box p {
    color: #666;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}


.menu-item {
    padding: 10px 20px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.menu-item.fade {
    opacity: 0.5;
    background-color: #d0d0d0;
}

ul .nav-item {
    cursor: pointer;
}


.background-image1 {
    border-radius: 15px;
} */

/* Komerce Society */


/* ============Our Teams============= */

.title0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    padding: 32px 52px;
    /* gap: 72px; */
}

.title0-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(89deg, #333 7%, #c2c1c1 87.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 72px;
}

.arrow0 {
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
}

.paragraph0 {
    flex: 1 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #828282;
}

.container0 {
    display: flex;
    padding: 32px 52px;
    align-items: center;
    gap: 72px;
    align-self: stretch;
}


.title {
    color: var(--Grayscale-Main-Black, #333);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

.paragraph {
    color: var(--Grayscale-Dark-Grey, #626262);
    font-weight: 400;
    line-height: 28px;
    max-width: 800px;
    margin: 0 auto 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
}

.paragraph-desc {
    color: var(--Grayscale-Dark-Grey, #626262);
    line-height: 20px;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.card-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 450px;
    width: 400px;
    padding: 16px;
    border-radius: 12px;
    background: var(--Grayscale-Off-White, #FFF);
    box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.12);
    color: var(--Gray-2, #4F4F4F);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: bottom center;
    margin-bottom: 16px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.24);
}

.card-image {
    position: relative;
    border-radius: 8px;
    max-width: 100%;
    height: 300px;
}

.name {
    margin-top: 5px;
    color: rgb(47, 46, 46);
}

.h-divider {
    background-color: gray
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.h-divider {
    background-color: gray;
    height: 1px;
}

.underline-ks {
    display: inline-block;
    position: relative;
}

.underline-ks::after {
    content: '';
    bottom: -4px;
    left: 50%;
    position: absolute;
    height: 2px;
    width: 26%;
    background-color: var(--Komerce-Dark);
    transform: translateX(-50%);

}


/*==================== blog =====================*/
.blog-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.button-container-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex; 
    justify-content: space-between; 
}
.justify-content-between{
    justify-content: space-between; 
}
.styled-button-blog-right {
    margin-left: 10px;
    display: flex;
    height: 40px;
    padding: 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 8px;
background: linear-gradient(117deg, #F95031 4.61%, #CF2A08 66.71%);
}
.styled-button-blog-left {
    border-radius: 8px;
    border: 1px solid var(--Grayscale-Line, #E2E2E2);
    background: var(--Grayscale-Input, #F4F4F4);
    display: flex;
    height: 40px;
    padding: 0px 14px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.title-blog {
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(112deg, #333 10.36%, #c2c1c1 87.38%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.paragraph-blog{
    color: var(--Grayscale-Label, #828282);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.blog-container {
    max-width: 1240px;
    max-height: 600px;
    margin: 0 auto;
    background-color: #F8F8F8;
}

.blog-container-blog {
    max-width: 1350px;
    border-radius: 24px;
    margin: 0 auto;
    padding: 30px;
    background-color: #F8F8F8;
    margin-bottom: 100px;
    margin-top: 80px;
}

.blog-title {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.blog-description {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;

}

.blog-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1240px;
    max-height: 600px;
    margin: 0 auto;
}

.blog-post {
    max-height: 600px;
    background-color: #ffffff;
    position: relative;
    border-radius: 14px;
    width: 375px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.blog-image {
    border-radius: 14px;
    width: 100%;
    height: 210px;
    object-fit: fill;
    object-position: center;
}

.filter {
    filter: brightness(80%);
}

.post-title {
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.post-description {
    color: #666;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-info {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #999;
    margin-top: 18px;
}

.container-info {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F8F8F8;
    display: flex; 
    justify-content: space-between; 
    padding: 8px;
    color:#828282
}


.post-date, .post-category {
    display: inline-block;
    color: rgb(46, 43, 43);
    height: auto;
    margin-bottom: 10px;
}

.border-tags {
    background-color:  #F8F8F8;
    padding: 4px;
    border-radius: 5px;
}
.border-date {
    background-color:  #F8F8F8;
    padding: 4px;
    border-radius: 5px;
}

.label-text {
    color: var(--Grayscale-Off-White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
}

.sub-label-text {
    color: var(--Grayscale-Off-White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 600;
    top: 180px;
    left: 10px;
    position: absolute;
}
/* .h2-font{
    font-size: 30px;
} */
/*============================ blog ================*/

/*====================== photos====================== */
.background-container2 {
    margin: 0;
    padding: 0;
    background-image: url('Images/komerce2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.text-box2 {
    padding: 20px;
    border-radius: 8px;
    margin-top: 60px;
    margin-left: 50px;
    max-width: 500px;
    font-size: 15px;
}

.background1 {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background: linear-gradient(98deg, rgba(0, 0, 0, 0.50) 0%, rgba(51, 51, 51, 0.00) 94.62%), 
                linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 0.01%, 
                rgba(0, 0, 0, 0.60) 69.5%, #000 100%);
}

.video-container-circle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watch-text-circle {
    font-size: 16px;
    margin: 0;
}
/*=================== photos ======================*/



/*==================== footer ====================*/
.image-brand-container {
    border-radius: 9px;
    width: 40px;
    height: 40px;
    background-color: #EFF1F4;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-brand {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    padding: 4px;
    width: 100%;
    height: auto;
}

.background-footer {
    background-color: #FFF;
}
/*==================== footer ====================*/


/* ===================== BLOG CONTENT ARTICLE======================== */
.blog-post-card {
    width: 100%;
    margin: 20px auto;
    padding: 60px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.card-blog-post {
    width: 83%;
    margin: 20px auto;
    padding: 60px;
    background-color: #fff;
}

.blog-post-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.blog-post-paragraph h2{
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    }

.blog-post-paragraph p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    color: #555;
}

.blog-post-title{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.title-blog-post{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.blog-date{
    font-family: 'Inter', sans-serif;
    color: #656464;
    font-size: 14px;
}

.tag {
    display: inline-block; 
    background-color: #f0f0f0;
    color: #007bff;
    padding: 2px 4px;
    margin: 0 5px 5px 0; 
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none; /* Membuat teks tidak bisa diklik */
}

.author{
    font-family: 'Inter', sans-serif;
    color: #656464;
    font-size: 14px;
}

.comment-blogs{
    display: inline-block; 
    background-color: #f0f0f0;
    padding: 2px 4px;
    color: #007bff;
    margin: 0 5px 5px 0; 
    border-radius: 5px;
    font-size: 14px;
     pointer-events: none;
}

/*=============== comments =====================*/
.comments-wrapper {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comments-header h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.comments-inner {
    margin-bottom: 20px;
}

.comment {
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0; 
    margin-bottom: 10px;
    position: relative;
}

.comment .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
}

.comment .fn {
    font-weight: bold;
    color: #333;
}

.comment .comment-metadata {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}

.comment .comment-content {
    font-size: 14px;
    color: #555;
}

.comment .reply {
    margin-top: 10px;
}

.comment .reply a {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.comment .reply a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.comment-respond {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.comment-respond h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.comment-respond input[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-respond input[type="submit"]:hover {
    background-color: #0056b3; 
}

/*======================== comments ==============================*/



/* ============================= CATEGORY BLOG =============================== */
.media {
    display: flex;
    align-items: flex-start; 
}

.media-left {
    flex-shrink: 0; 
    margin-right: 30px;
}

.media-left img {
    width: 250px; 
    height: auto;
    border-radius: 10px;
}

.media-body {
    flex: 1; 
    overflow: hidden;
}

.title-blog-post {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.meta {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.blog-post-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.more-link {
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    box-sizing: border-box;
}

.more-link:hover {
    text-decoration: underline;
}

.title-blog-post a {
    color: #000000; 
    text-decoration: none; 
}

.title-blog-post a:hover {
    color: #000000;
    text-decoration: underline; 
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination .page-numbers {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-numbers.current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .page-numbers:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
    background-color: #e9ecef;
    color: #333;
}

.pagination .prev:hover,
.pagination .next:hover {
    background-color: #007bff;
    color: #fff;
}

.card-pagination {
    background-color: #fff;
    margin-bottom: 30px;
}

/* ============================= CATEGORY BLOG =============================== */

/* ============================CATEGORY OURTEAMS============================= */
.card-container-ourteams {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-ourteams{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 280px;
    padding: 16px;
    border-radius: 12px;
    background: var(--Grayscale-Off-White, #FFF);
    box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.12);
    color: var(--Gray-2, #4F4F4F);
    font-size: 11px;
    /* font-weight: 500; */
    line-height: 15px;
    letter-spacing: 0.3px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: bottom center;
    margin-bottom: 16px;
}
.card-image-ourteams {
    position: relative;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    object-fit: cover;
}

.card-ourteams:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 24px 0px rgba(0, 0, 0, 0.24);
}

.h6-font{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #555;
}

.div-ourteams {
    max-width: 200px;
}



/* ============================CATEGORY OURTEAMS============================= */

/* ==========================================CSS RESPONSIVE========================================== */

@media (max-width:864px) {
    /*====komerce society====*/
    .text-boxes {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 50px;
        margin-left: 20px;
    }

    .text-box {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        margin: 5px 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        max-width: 250px;
    }

    .paragraph-whoarewe {
    color: var(--Grayscale-Dark-Grey, #626262);
    font-weight: 200px;
    line-height: 12px;
    margin: 0 auto 16px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    }

    .background-containers {
    width: 90%;
    height: auto;
    background: center / cover no-repeat;
    margin-left: auto;

    }   

    .underline-ks {
    display: inline-block;
    position: relative;
    }

    .underline-ks::after {
        content: '';
        bottom: -4px;
        left: 50%;
        position: absolute;
        height: 2px;
        width: 35%;
        background-color: var(--Komerce-Dark);
        transform: translateX(-50%);
    }    

    .h2-font {
        font-size: 25px;
    }
    
    /* .bg-arrow{
    width: 25px;
    height: auto;
    } */
    /*====komerce society====*/

    /*===== howslife komerce =====*/
    .background-image1 {
        width: 90%;
    }

    .play-icon, .pause-icon {
        cursor: pointer;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 13%;
    }
    .flex-container {
        display: flex;
        position: absolute;
        bottom: -40px;
        width: 100%;
        height: 25%;
        padding: 32px 20px;
        justify-content: center;
        align-items: center;
        background: var(--Komerce-Dark);
        overflow: hidden;
    }
    .number {
        color: var(--Grayscale-Off-White, #FFF);
        font-family: Poppins;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .text {
        color: var(--Grayscale-Off-White);
        font-size: 15px;
        line-height: normal;
    }
    /*===== howslife komerce =====*/

    /*===== our teams =====*/
    .title {
        color: var(--Grayscale-Main-Black, #333);
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    }

    .paragraph {
        color: var(--Grayscale-Dark-Grey, #626262);
        font-weight: 400;
        line-height: 15px;
        max-width: 85%;
        margin: 0 auto 0;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        text-align: center;
    }
    /*===== our teams =====*/
    
    /*===== photos =====*/
    .background-container2,
    .background1 {
        height: 60vh; 
    }

    .text-box2 {
        padding: 20px;
        border-radius: 8px;
        margin-top: 150px;
        margin-left: 10px;
        max-width: 400px;
        font-size: 15px;
    }

    .video-container-circle {
        margin-left: 0px;
    }

    .play-circle {
        width: 15px;
    }

    .watch-text-circle {
        font-size: 15px;
    }
    .text-photos {
        font-size: 20px;
    }
    /*===== photos =====*/

    /*===== blog =====*/
    .blog-container {
        max-width: 750px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        background-color: #fff;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    .label-text {
        color: var(--Grayscale-Off-White, #FFF);
        font-family: "Plus Jakarta Sans";
        font-size: 10px;
        font-weight: 400;
    }
    
    .sub-label-text {
        color: var(--Grayscale-Off-White, #FFF);
        font-family: "Plus Jakarta Sans";
        font-size: 8px;
        font-weight: 600;
        top: 180px;
        left: 10px;
        position: absolute;
    }
}

@media (max-width: 768px) {
    /*========== card our teams ============*/
    .card {
        flex: 1 1 calc(50% - 32px);
    }
    
    .paragraph-desc {
        font-size: 14px;
        line-height: 22px;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 400px;
    }
    /*========== card our teams ============*/

    /*========== blog ========*/
    .title {
        color: var(--Grayscale-Main-Black, #333);
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    }

    .blog-post {
        width: 48%;
    }

    .post-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    font-size: 15px;
    color: #999;
    }
     /*========== blog ========*/
}

@media (max-width: 600px) {
    .pagination .page-numbers {
        padding: 8px 12px;
    }
}

@media (max-width:576px){
    /*============komerce society==============*/
    .text-boxes {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 8px;
    }
    .language-switcher {
        display: none;
    }

    .text-box {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        margin: 5px 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        max-width: 200px;
    }

    .paragraph-whoarewe {
    color: var(--Grayscale-Dark-Grey, #626262);
    font-weight: 200px;
    line-height: 11px;
    margin: 0 auto 0px;
    font-family: 'Inter', sans-serif;
    font-size: 7px;
    }

    .background-containers {
    width: 90%;
    height: auto;
    background: center / cover no-repeat;
    margin-left: auto;

    }   

    /* .underline-ks {
    display: inline-block;
    position: relative;
    }

    .underline-ks::after {
        content: '';
        bottom: -4px;
        left: 50%;
        position: absolute;
        height: 2px;
        width: 50%;
        background-color: var(--Komerce-Dark);
        transform: translateX(-50%);
    }     */

    .h2-font {
        font-size: 13px;
    }
    
    .bg-arrow{
    width: 15px;
    height: auto;
    }
    /*============komerce society==============*/

    /*================== howslife komerce ============*/
    .background-image1 {
        width: 90%;
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .styled-button {
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 8px;
        border: 1px solid var(--Komerce-Dark);
        background: var(--Komerce-Dark);
        color: var(--Grayscale-Off-White);
        text-align: center;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-style: normal;
        text-decoration: none;
    }
    .arrow-icon {
        display: flex;
        width: 15px;
        height: 15px;
        justify-content: center;
        align-items: center;
    }
    .text1 {
        color: var(--Grayscale-Off-White);
        font-size: 12px;
        line-height: normal;
    }
    .sub-heading {
        color: #fff;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        margin: 0;
        font-weight: 400;
        line-height: 20px;
        font-family: 'Inter', sans-serif;
    }
    .flex-container {
        display: flex;
        position: absolute;
        bottom: -40px;
        width: 100%;
        height: 5%;
        padding: 32px 20px;
        justify-content: center;
        align-items: center;
        background: var(--Komerce-Dark);
        overflow: hidden;
    }
    .marquee {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .marquee-content {
        display: flex;
        gap: 64px;
        width: calc(200% + 64px);
        animation: marquee 20s linear infinite;
    }

    .number {
        color: var(--Grayscale-Off-White);
        font-size: 35px;
        line-height: normal;
    }
    
    .text {
        color: var(--Grayscale-Off-White);
        font-size: 13px;
        line-height: normal;
    }
   /*================== howslife komerce ============*/

    /*========= card our teams ========*/
    .card-container {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .card {
        display: flex;
        flex-direction: column;
        min-height: 350px;
        width: 330px;
        padding: 16px;
        border-radius: 12px;
        background: var(--Grayscale-Off-White, #FFF);
        box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.12);
        color: var(--Gray-2, #4F4F4F);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.3px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform-origin: bottom center;
        margin-bottom: 5px;    
    }

    .card {
        padding: 12px;
    }
    .card {
        flex: 1 1 calc(100% - 32px);
    }
    .card-image {
        position: relative;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .name {
    margin-top: 5px;
    color: rgb(47, 46, 46);
    }
    
    .paragraph-desc {
        font-size: 13px;
        line-height: 20px;
        color: var(--Grayscale-Dark-Grey, #626262);
    }
    
    .paragraph {
        color: var(--Grayscale-Dark-Grey, #626262);
        font-weight: 400;
        line-height: 15px;
        max-width: 85%;
        margin: 0 auto 0;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        text-align: center;
    }
   /*========= card our teams ========*/

    /*========== blog ========*/
    .blog-post {
        width: 100%;
    }

    .post-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    font-size: 10px;
    color: #999;
    }
    /*========== blog ========*/

    /*========== photos ========*/
    .background-container2,
    .background1 {
        height: 60vh; 
    }

    .text-box2 {
        padding: 20px;
        border-radius: 8px;
        margin-top: 60px;
        margin-left: 10px;
        max-width: 250px;
        font-size: 10px;
    }

    .video-container-circle {
        margin-left: 0px;
    }

    .play-circle {
        width: 15px;
    }

    .watch-text-circle {
        font-size: 10px;
    }
    .text-photos {
        font-size: 15px;
    }
    .text-boxes-photos {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 70px;
        margin-left: 40px;
    }
    .blog-container {
        max-width: 350px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        background-color: #fff;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    /*========== photos ========*/

    /*============== content-article ============*/
    .blog-post-paragraph h2{
    font-size: 14px;
        margin-bottom: 15px;
        color: #333;
    }
    .blog-post-paragraph p{
    font-size: 12px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 15px;
        color: #555;
    }

    .blog-post-title{
    font-size: 15px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    }

    .blog-post-card {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    }
    /*============== content-article ============*/


    /* ==================CATEGORY BLOG================== */
    .media {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
    }

    .media-left {
        margin-bottom: 15px; 
    }

    .media-left img {
        width: 125%; 
        height: auto;
        border-radius: 5px;
    }

    .media-body {
        width: 100%; 
        overflow: hidden;
    }

    .title-blog-post {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.3rem;
        box-sizing: border-box;
    }

    .meta {
        font-size: 0.9rem;
        color: #888;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .blog-post-paragraph {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    .more-link {
        font-weight: bold;
        color: #007bff;
        text-decoration: none;
        box-sizing: border-box;
    }

    .more-link:hover {
        text-decoration: underline;
    }

}